In [269]:
# Настраиваем импорты.
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import missingno
%matplotlib inline
from exploratory_data_analysis import *

# Вводные.
trainPath = 'data/exam_module_4/1_variant_dna_sequence_mutation_prediction/input/train.csv'
testPath = 'data/exam_module_4/1_variant_dna_sequence_mutation_prediction/input/test.csv'
cvFraction = 0.15
randomCeed = 777

SyntaxError: invalid syntax (exploratory_data_analysis.py, line 10)

In [270]:
# 1. Определяем тип задачи.

In [271]:
print('Task type: logistic regression or SVM')

Task type: logistic regression or SVM

In [272]:
# 2. Создаём фреймы и выделяем часть датасета на CV.

In [273]:
#Смотрим огригинальные тренировочные данные.
originalTrainDf = pd.read_csv(trainPath)
originalTrainDf.info()
originalTrainDf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180000 entries, 0 to 179999
Data columns (total 32 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ID         180000 non-null  int64
 1   sequence1  180000 non-null  object
 2   sequence2  180000 non-null  object
 3   sequence3  180000 non-null  object
 4   sequence4  180000 non-null  object
 5   sequence5  180000 non-null  object
 6   sequence6  180000 non-null  object
 7   sequence7  180000 non-null  object
 8   sequence8  180000 non-null  object
 9   sequence9  180000 non-null  object
 10  A          180000 non-null  int64
 11  B          180000 non-null  int64
 12  C          180000 non-null  int64
 13  D          180000 non-null  int64
 14  E          180000 non-null  int64
 15  F          180000 non-null  int64
 16  G          180000 non-null  int64
 17  H          180000 non-null  int64
 18  I          180000 non-null  int64
 19  J          180000 non-null  int64
 20  K          180000 non-null  float64
 21  L          180000 non-null  float64
 22  M          180000 non-null  float64
 23  N          180000 non-null  float64
 24  O          180000 non-null  float64
 25  P          180000 non-null  float64
 26  Q          180000 non-null  float64
 27  R          180000 non-null  float64
 28  S          180000 non-null  float64
 29  T          180000 non-null  float64
 30  U          180000 non-null  float64
 31  mutation   180000 non-null  int64
dtypes: float64(11), int64(12), object(9)
memory usage: 43.9+ MB

,ID,sequence1,sequence2,sequence3,sequence4,sequence5,sequence6,sequence7,sequence8,sequence9,...,M,N,O,P,Q,R,S,T,U,mutation
0,0,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,AAATCAGCTAAA,ATTCCATATTTT,ATTCCATATTTT,AAATCAGCTAAA,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,2,ATGCGCTTAATT,ATGCGCTTAATT,GATCGTAGCTAA,ATGCGCTTAATT,ATGCGCTTAATT,AAATCAGCTAAA,ATTCCATATTTT,ATTCCATATTTT,AAATCAGCTAAA,...,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
2,5,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,AAATCAGCTAAA,ATTCCATATTTT,ATTCCATATTTT,AAATCAGCTAAA,...,0.524760,0.580085,0.301498,0.261055,0.193988,0.935688,0.685868,0.277694,0.428115,0
3,7,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATTCCATATTTT,AAATCAGCTAAA,TAACATACAGAG,TAACATACAGAG,...,0.943545,0.209744,0.670577,0.772650,0.845751,0.507320,0.927204,0.605755,0.454155,1
4,9,ATGCGCTTAATT,GATCGTAGCTAA,ATGCGCTTAATT,GATCGTAGCTAA,GATCGTAGCTAA,ATTCCATATTTT,AAATCAGCTAAA,ATTCCATATTTT,TAACATACAGAG,...,0.397622,0.506096,0.200673,0.734145,0.521673,0.365571,0.416094,0.584799,0.447149,1

In [274]:
#Смотрим огригинальные тренировочные данные.
originalTestDf = pd.read_csv(testPath)
originalTestDf.info()
originalTestDf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 31 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ID         120000 non-null  int64
 1   sequence1  120000 non-null  object
 2   sequence2  120000 non-null  object
 3   sequence3  120000 non-null  object
 4   sequence4  120000 non-null  object
 5   sequence5  120000 non-null  object
 6   sequence6  120000 non-null  object
 7   sequence7  120000 non-null  object
 8   sequence8  120000 non-null  object
 9   sequence9  120000 non-null  object
 10  A          120000 non-null  int64
 11  B          120000 non-null  int64
 12  C          120000 non-null  int64
 13  D          120000 non-null  int64
 14  E          120000 non-null  int64
 15  F          120000 non-null  int64
 16  G          120000 non-null  int64
 17  H          120000 non-null  int64
 18  I          120000 non-null  int64
 19  J          120000 non-null  int64
 20  K          120000 non-null  float64
 21  L          120000 non-null  float64
 22  M          120000 non-null  float64
 23  N          120000 non-null  float64
 24  O          120000 non-null  float64
 25  P          120000 non-null  float64
 26  Q          120000 non-null  float64
 27  R          120000 non-null  float64
 28  S          120000 non-null  float64
 29  T          120000 non-null  float64
 30  U          120000 non-null  float64
dtypes: float64(11), int64(11), object(9)
memory usage: 28.4+ MB

,ID,sequence1,sequence2,sequence3,sequence4,sequence5,sequence6,sequence7,sequence8,sequence9,...,L,M,N,O,P,Q,R,S,T,U
0,1,ATGCGCTTAATT,ATGCGCTTAATT,GATCGTAGCTAA,ATGCGCTTAATT,GATCGTAGCTAA,ATTCCATATTTT,AAATCAGCTAAA,ATTCCATATTTT,AAATCAGCTAAA,...,0.328929,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729
1,3,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,AAATCAGCTAAA,ATTCCATATTTT,ATTCCATATTTT,AAATCAGCTAAA,...,0.707663,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242
2,4,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,GATCGTAGCTAA,AAATCAGCTAAA,AAATCAGCTAAA,ATTCCATATTTT,AAATCAGCTAAA,...,0.274514,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960
3,6,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,GATCGTAGCTAA,ATTCCATATTTT,ATTCCATATTTT,ATTCCATATTTT,AAATCAGCTAAA,...,0.707840,0.678466,0.747125,0.678212,0.553609,0.281719,0.768782,0.688580,0.320699,0.642256
4,8,GATCGTAGCTAA,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,ATGCGCTTAATT,AAATCAGCTAAA,ATTCCATATTTT,ATTCCATATTTT,AAATCAGCTAAA,...,0.664718,0.635195,0.672264,0.561127,0.419873,0.508550,0.673267,0.356103,0.471519,0.499554

In [275]:
#Формируем датафреймы из псевдорандомных выборок.
trainDf = originalTrainDf.sample(frac=(1 - cvFraction), random_state=randomCeed).drop('mutation', axis=1)
trainDfTarget = originalTrainDf.sample(frac=(1 - cvFraction), random_state=randomCeed)[['ID', 'mutation']]
cvDf = originalTrainDf.drop(trainDf.index).drop('mutation', axis=1)
cvDfTarget = originalTrainDf.drop(trainDfTarget.index)[['ID', 'mutation']]
testDf = originalTestDf

In [276]:
print('Original train data:')
pd.read_csv(trainPath).shape

Original train data:

(180000, 32)

In [277]:
print('Original test data:')
pd.read_csv(testPath).shape

Original test data:

(120000, 31)

In [278]:
print('Train data:')
trainDf.shape

Train data:

(153000, 31)

In [279]:
print('Train target data:')
trainDfTarget.shape

Train target data:

(153000, 2)

In [280]:
print('CV data:')
cvDf.shape

CV data:

(27000, 31)

In [281]:
print('CV target data:')
cvDfTarget.shape

CV target data:

(27000, 2)

In [282]:
print('Test data:')
testDf.shape

Test data:

(120000, 31)

In [283]:
# 3. Определяем тип переменных в датасете.

In [284]:
print('Train data types:')
trainDf.info()
print('Train target data types:')
trainDfTarget.info()

Train data types:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 153000 entries, 105497 to 170866
Data columns (total 31 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ID         153000 non-null  int64
 1   sequence1  153000 non-null  object
 2   sequence2  153000 non-null  object
 3   sequence3  153000 non-null  object
 4   sequence4  153000 non-null  object
 5   sequence5  153000 non-null  object
 6   sequence6  153000 non-null  object
 7   sequence7  153000 non-null  object
 8   sequence8  153000 non-null  object
 9   sequence9  153000 non-null  object
 10  A          153000 non-null  int64
 11  B          153000 non-null  int64
 12  C          153000 non-null  int64
 13  D          153000 non-null  int64
 14  E          153000 non-null  int64
 15  F          153000 non-null  int64
 16  G          153000 non-null  int64
 17  H          153000 non-null  int64
 18  I          153000 non-null  int64
 19  J          153000 non-null  int64
 20  K          153000 non-null  float64
 21  L          153000 non-null  float64
 22  M          153000 non-null  float64
 23  N          153000 non-null  float64
 24  O          153000 non-null  float64
 25  P          153000 non-null  float64
 26  Q          153000 non-null  float64
 27  R          153000 non-null  float64
 28  S          153000 non-null  float64
 29  T          153000 non-null  float64
 30  U          153000 non-null  float64
dtypes: float64(11), int64(11), object(9)
memory usage: 37.4+ MB
Train target data types:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 153000 entries, 105497 to 170866
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ID        153000 non-null  int64
 1   mutation  153000 non-null  int64
dtypes: int64(2)
memory usage: 3.5 MB

In [285]:
# 4. Если это необходимо провести препроцессинг данных, нужно ли применять алгоритмы понижения размерности?
# Нужно ли убирать аномалии?

In [286]:
# Переводим первые 9 столбцов в цифры (по методу one-hot, one-hot столбцы добавляются в конце датафрейма).
dummieCounter = 0
for col in trainDf.columns:
    if trainDf[col].dtypes == object:
        dummieCounter += len(trainDf[col].unique())
        print('Unique in ' + str(col) + ': ' + str(len(trainDf[col].unique())))
print('Dummie columns: ' + str(dummieCounter))

trainDf = pd.get_dummies(trainDf)
cvDf = pd.get_dummies(cvDf)
testDf = pd.get_dummies(testDf)

Unique in sequence1: 2
Unique in sequence2: 2
Unique in sequence3: 2
Unique in sequence4: 2
Unique in sequence5: 2
Unique in sequence6: 4
Unique in sequence7: 4
Unique in sequence8: 4
Unique in sequence9: 4
Dummie columns: 26

In [287]:
print("TrainDF: ")
trainDf.shape

TrainDF:

(153000, 48)

In [288]:
print('CvDF: ')
cvDf.shape

CvDF:

(27000, 48)

In [289]:
print("TestDF: ")
testDf.shape

TestDF:

(120000, 48)

In [291]:
eda(trainDf)

NameError: name 'eda' is not defined

In [ ]:
# 5. Провести EDA и вывести какие-то умозаключения и посмотреть на распределения признаков, на корреляции, на выбросы.

In [ ]:
# 6. Подумать над вариантом модели, для того чтобы решить задачу (либо ансамблем моделей)

In [ ]:
print('Так как n << m, лучше использовать логистическую регрессию, либо SMV without kernel.')

In [ ]:
# 7. Подумать нужно ли применять Unsupervised learning подход для решения задачи?
# Неоходима ли дополнительная информация?

In [ ]:
# 8. Обучить модель и вывести валидационный скор по метрике качества.